# Final Project

## 1. Scope the Project

Our plan is to use a supervised learning technique to predict which customers are most likely to cancel their subscription using **the past three months of customer data which includes subscription and listening history**.

## 2. Gather Data

Read the following files into Python:
* Customer data: *maven_music_customers.csv*
* Listing history: *maven_music_listening_history.xlsx*

In [43]:
import pandas as pd
import numpy as np
from copy import deepcopy
import seaborn as sns
sns.set_style('darkgrid')

In [44]:
# Read in the customer data
customer_df = pd.read_csv("../Data/maven_music_customers.csv")
original_customer_df = deepcopy(customer_df)
customer_df.head(5)

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN

In [45]:
customer_df

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN
5,5404,Jazz Saxton,Email: jazzy.sax@email.com,3/20/23,NaN,$2.99,NaN,6/3/23
6,5581,Reed Sharp,Email: sharp.tunes@email.com,3/21/23,Premium (No Ads),$9.99,NaN,NaN
7,5759,Carol Kingbird,Email: songbird.carol@email.com,3/22/23,Premium (No Ads),$9.99,NaN,6/2/23
8,5761,Sonata Nash,Email: musical.sonata@email.com,3/28/23,Premium (No Ads),$9.99,NaN,NaN
9,5763,Jazz Coleman,Email: coleman.jazzmaster@email.com,3/28/23,Basic (Ads),$2.99,NaN,NaN
10,5826,Chord Hayes,Email: harmonic.chord@email.com,3/28/23,Basic (Ads),$2.99,NaN,NaN
11,5827,Rhythm Franklin,Email: rhythmic.franklin@email.edu,3/28/23,NaN,$2.99,NaN,NaN
12,6029,Chord Campbell,Email: campbell.chordify@email.com,3/29/23,Premium (No Ads),$9.99,NaN,6/2/23
13,6092,Benny Beat,Email: rhythmic.benny@email.com,4/1/23,Basic (Ads),$2.99,NaN,6/1/23
14,6163,Melody Parks,Email: park.of.melodies@email.com,4/5/23,Premium (No Ads),$9.99,NaN,NaN
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,4/6/23,Premium (No Ads),$99.99,NaN,6/2/23
16,6406,Beatrice Sharp,Email: beats.by.beatrice@email.com,4/8/23,Basic (Ads),$2.99,NaN,NaN
17,6584,Bobby Bass,Email: bass.master.bobby@email.edu,4/9/23,Basic (Ads),$2.99,NaN,NaN
18,6586,Lyric Saunders,Email: lyrical.saunders@email.edu,4/16/23,Basic (Ads),$2.99,NaN,NaN
19,6588,Harmony Bass,Email: bass.harmony@email.com,4/16/23,Basic (Ads),$2.99,NaN,6/1/23
20,6821,Reed Flat,Email: flat.tunes@email.edu,4/24/23,Basic (Ads),$2.99,NaN,NaN
21,6822,Kiki Keys,Email: kiki.keys.piano@email.com,5/1/23,Premium (No Ads),$7.99,Yes,NaN
22,6824,Greta Groove,Email: groovy.greta@email.com,5/1/23,Premium (No Ads),$7.99,Yes,6/2/23
23,7087,Harmony Heart,Email: heartfelt.harmony@email.com,5/1/23,Premium (No Ads),$7.99,Yes,6/2/23
24,7158,Harmony Wallace,Email: wallace.harmony@email.com,5/7/23,Basic (Ads),$2.99,NaN,NaN
25,7224,Melody Fitzgerald,Email: fitzgerald.melody@email.com,5/8/23,Premium (No Ads),$7.99,Yes,6/1/23
26,7401,Reed Murphy,Email: murphy.reed.music@email.com,5/8/23,Premium (No Ads),$7.99,Yes,6/1/23
27,7579,Jazz Drummond,Email: drumming.jazz@email.com,5/15/23,Basic (Ads),$2.99,NaN,NaN
28,7581,Lyric Keys,Email: keysoflyric@email.com,5/16/23,Premium (No Ads),$7.99,Yes,6/3/23
29,7583,Melody Singer,Email: melodic.singer@email.com,5/16/23,Premium (No Ads),$7.99,Yes,6/1/23

In [46]:
# Read in the listening history
listening_df = pd.read_excel('../Data/maven_music_listening_history.xlsx')
original_listening_df = deepcopy(listening_df)
listening_df.head(5)

   Customer ID  Session ID  Audio Order  Audio ID Audio Type
0         5001      100520            1       101       Song
1         5001      100520            2       102       Song
2         5001      100520            3       103       Song
3         5001      100520            4       104       Song
4         5001      100520            5       105       Song

In [47]:
# Hint: Where might you find listening history data beyond the ID's?

In [48]:
# Read in the audio data
audio_df = pd.read_excel('../Data/maven_music_listening_history.xlsx' , sheet_name=1)
original_audio_df = deepcopy(audio_df)
audio_df.head(5)

         ID              Name      Genre  Popularity
0  Song-101   Dance All Night        Pop           1
1  Song-102  Unbreakable Beat        Pop           2
2  Song-103  Sunset Boulevard  Pop Music           5
3  Song-104    Glowing Hearts  Pop Music          10
4  Song-105         Pop Rocks  Pop Music          52

In [49]:
# Read in the session data
session_df = pd.read_excel('../Data/maven_music_listening_history.xlsx' , sheet_name=2)
original_sessio_df = deepcopy(session_df)
session_df.head(5)

   Session ID Session Log In Time
0      100520 2023-03-13 18:29:00
1      100522 2023-03-13 22:15:00
2      100525 2023-03-14 10:01:00
3      100527 2023-03-13 14:14:00
4      100538 2023-03-21 12:23:00

## 3. Clean Data

### a. Convert Data Types

Check the data types of the data in the tables and convert to numeric and datetime values as necessary.

In [50]:
# Check the data types
customer_df.info(memory_usage='deep',
                show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        30 non-null     int64
 1   Customer Name      30 non-null     object
 2   Email              30 non-null     object
 3   Member Since       30 non-null     object
 4   Subscription Plan  25 non-null     object
 5   Subscription Rate  30 non-null     object
 6   Discount?          7 non-null      object
 7   Cancellation Date  13 non-null     object
dtypes: int64(1), object(7)
memory usage: 13.0 KB

In [51]:
# This function will find all the unique values in each series.
def Unique_ValueFinder(df):
    for col in df.columns:
        print(f"{col.title()}'s unique values are :\n {df[col].unique()}" , 
              end = '\n\n' +'*'*25 + '\n\n')

In [52]:
Unique_ValueFinder(customer_df)

Customer Id's unique values are :
 [5001 5002 5004 5267 5338 5404 5581 5759 5761 5763 5826 5827 6029 6092
 6163 6229 6406 6584 6586 6588 6821 6822 6824 7087 7158 7224 7401 7579
 7581 7583]

*************************

Customer Name's unique values are :
 ['Harmony Greene' 'Aria Keys' 'Lyric Bell' 'Rock Bassett' 'Rhythm Dixon'
 'Jazz Saxton' 'Reed Sharp' 'Carol Kingbird' 'Sonata Nash' 'Jazz Coleman'
 'Chord Hayes' 'Rhythm Franklin' 'Chord Campbell' 'Benny Beat'
 'Melody Parks' 'Symphony Rhodes' 'Beatrice Sharp' 'Bobby Bass'
 'Lyric Saunders' 'Harmony Bass' 'Reed Flat' 'Kiki Keys' 'Greta Groove'
 'Harmony Heart' 'Harmony Wallace' 'Melody Fitzgerald' 'Reed Murphy'
 'Jazz Drummond' 'Lyric Keys' 'Melody Singer']

*************************

Email's unique values are :
 ['Email: harmonious.vibes@email.com' 'Email: melodious.aria@email.edu'
 'Email: rhythmical.lyric@email.com' 'Email: groovy.rock@email.com'
 'Email: beats.by.rhythm@email.edu' 'Email: jazzy.sax@email.com'
 'Email: sharp.tunes@email.com' 'Email: songbird.carol@email.com'
 'Email: musical.sonata@email.com' 'Email: coleman.jazzmaster@email.com'
 'Email: harmonic.chord@email.com' 'Email: rhythmic.franklin@email.edu'
 'Email: campbell.chordify@email.com' 'Email: rhythmic.benny@email.com'
 'Email: park.of.melodies@email.com' 'Email: rhodes.symphony@email.com'
 'Email: beats.by.beatrice@email.com' 'Email: bass.master.bobby@email.edu'
 'Email: lyrical.saunders@email.edu' 'Email: bass.harmony@email.com'
 'Email: flat.tunes@email.edu' 'Email: kiki.keys.piano@email.com'
 'Email: groovy.greta@email.com' 'Email: heartfelt.harmony@email.com'
 'Email: wallace.harmony@email.com' 'Email: fitzgerald.melody@email.com'
 'Email: murphy.reed.music@email.com' 'Email: drumming.jazz@email.com'
 'Email: keysoflyric@email.com' 'Email: melodic.singer@email.com']

*************************

Member Since's unique values are :
 ['3/13/23' '3/20/23' '3/21/23' '3/22/23' '3/28/23' '3/29/23' '4/1/23'
 '4/5/23' '4/6/23' '4/8/23' '4/9/23' '4/16/23' '4/24/23' '5/1/23' '5/7/23'
 '5/8/23' '5/15/23' '5/16/23']

*************************

Subscription Plan's unique values are :
 ['Basic (Ads)' nan 'Premium (No Ads)']

*************************

Subscription Rate's unique values are :
 ['$2.99 ' '$9.99 ' '$99.99 ' '$7.99 ']

*************************

Discount?'s unique values are :
 [nan 'Yes']

*************************

Cancellation Date's unique values are :
 [nan '6/1/23' '6/3/23' '6/2/23']

*************************

In [53]:
customer_df.head(10)

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN
5,5404,Jazz Saxton,Email: jazzy.sax@email.com,3/20/23,NaN,$2.99,NaN,6/3/23
6,5581,Reed Sharp,Email: sharp.tunes@email.com,3/21/23,Premium (No Ads),$9.99,NaN,NaN
7,5759,Carol Kingbird,Email: songbird.carol@email.com,3/22/23,Premium (No Ads),$9.99,NaN,6/2/23
8,5761,Sonata Nash,Email: musical.sonata@email.com,3/28/23,Premium (No Ads),$9.99,NaN,NaN
9,5763,Jazz Coleman,Email: coleman.jazzmaster@email.com,3/28/23,Basic (Ads),$2.99,NaN,NaN

In [54]:
customer_df.columns

Index(['Customer ID', 'Customer Name', 'Email', 'Member Since',
       'Subscription Plan', 'Subscription Rate', 'Discount?',
       'Cancellation Date'],
      dtype='object')

In [55]:
customer_df['Subscription Rate'].unique()

array(['$2.99 ', '$9.99 ', '$99.99 ', '$7.99 '], dtype=object)

In [56]:
customer_df.info(memory_usage='deep' , show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        30 non-null     int64
 1   Customer Name      30 non-null     object
 2   Email              30 non-null     object
 3   Member Since       30 non-null     object
 4   Subscription Plan  25 non-null     object
 5   Subscription Rate  30 non-null     object
 6   Discount?          7 non-null      object
 7   Cancellation Date  13 non-null     object
dtypes: int64(1), object(7)
memory usage: 13.0 KB

In [57]:
customer_df['Subscription Rate'] = customer_df['Subscription Rate'] .str.lstrip("$").str.strip(' ')
customer_df[['Subscription Rate']].head()

  Subscription Rate
0              2.99
1              2.99
2              2.99
3              2.99
4              2.99

In [58]:
# Convert objects to numeric and datetime fields
customer_df['Cancellation Date'] = pd.to_datetime(customer_df['Cancellation Date'], errors = 'coerce')
customer_df['Member Since'] = pd.to_datetime(customer_df['Member Since'] , errors = 'coerce')
customer_df = customer_df.astype({"Member Since": 'datetime64[ns]',
                    "Subscription Plan" : 'category',
                    "Subscription Rate" : 'float16',
                    "Discount?": 'category',
                    })

customer_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        30 non-null     int64
 1   Customer Name      30 non-null     object
 2   Email              30 non-null     object
 3   Member Since       30 non-null     datetime64[ns]
 4   Subscription Plan  25 non-null     category
 5   Subscription Rate  30 non-null     float16
 6   Discount?          7 non-null      category
 7   Cancellation Date  13 non-null     datetime64[ns]
dtypes: category(2), datetime64[ns](2), float16(1), int64(1), object(2)
memory usage: 6.0 KB

C:\Users\ahmad\AppData\Local\Temp\ipykernel_17928\3661308790.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  customer_df['Cancellation Date'] = pd.to_datetime(customer_df['Cancellation Date'], errors = 'coerce')
C:\Users\ahmad\AppData\Local\Temp\ipykernel_17928\3661308790.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  customer_df['Member Since'] = pd.to_datetime(customer_df['Member Since'] , errors = 'coerce')

In [59]:
customer_df['Email'] = customer_df['Email'].str.lstrip("Email: ")
customer_df['Email'].head()

0    harmonious.vibes@email.com
1       elodious.aria@email.edu
2    rhythmical.lyric@email.com
3         groovy.rock@email.com
4     beats.by.rhythm@email.edu
Name: Email, dtype: object

In [60]:
customer_df['Cancellation Date'].value_counts(dropna=False)

Cancellation Date
NaT           17
2023-06-01     6
2023-06-02     5
2023-06-03     2
Name: count, dtype: int64

In [61]:
# customer_df = pd.read_csv("../Data/maven_music_customers.csv" ,
#                           parse_dates=True, 
#                           infer_datetime_format=True,
#                           dtype={
#                               "Member Since": 'datetime64[ns]',
#                               "Subscription Plan" : 'category',
#                               "Subscription Rate" : 'float16'                              
#                           }
#                          )
# original_customer_df = deepcopy(customer_df)
# customer_df.head(5)

### b. Resolve Data Issues

Check for missing data, inconsistent text and typos, duplicate data and outliers.

In [62]:
customer_df[customer_df.isna().any(axis =1 )]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.990234,NaN,NaT
1,5002,Aria Keys,elodious.aria@email.edu,2023-03-13,NaN,2.990234,NaN,NaT
2,5004,Lyric Bell,rhythmical.lyric@email.com,2023-03-13,NaN,2.990234,NaN,2023-06-01
3,5267,Rock Bassett,groovy.rock@email.com,2023-03-20,Basic (Ads),2.990234,NaN,NaT
4,5338,Rhythm Dixon,beats.by.rhythm@email.edu,2023-03-20,NaN,2.990234,NaN,NaT
5,5404,Jazz Saxton,jazzy.sax@email.com,2023-03-20,NaN,2.990234,NaN,2023-06-03
6,5581,Reed Sharp,sharp.tunes@email.com,2023-03-21,Premium (No Ads),9.992188,NaN,NaT
7,5759,Carol Kingbird,songbird.carol@email.com,2023-03-22,Premium (No Ads),9.992188,NaN,2023-06-02
8,5761,Sonata Nash,usical.sonata@email.com,2023-03-28,Premium (No Ads),9.992188,NaN,NaT
9,5763,Jazz Coleman,coleman.jazzmaster@email.com,2023-03-28,Basic (Ads),2.990234,NaN,NaT
10,5826,Chord Hayes,harmonic.chord@email.com,2023-03-28,Basic (Ads),2.990234,NaN,NaT
11,5827,Rhythm Franklin,rhythmic.franklin@email.edu,2023-03-28,NaN,2.990234,NaN,NaT
12,6029,Chord Campbell,campbell.chordify@email.com,2023-03-29,Premium (No Ads),9.992188,NaN,2023-06-02
13,6092,Benny Beat,rhythmic.benny@email.com,2023-04-01,Basic (Ads),2.990234,NaN,2023-06-01
14,6163,Melody Parks,park.of.melodies@email.com,2023-04-05,Premium (No Ads),9.992188,NaN,NaT
15,6229,Symphony Rhodes,rhodes.symphony@email.com,2023-04-06,Premium (No Ads),100.000000,NaN,2023-06-02
16,6406,Beatrice Sharp,beats.by.beatrice@email.com,2023-04-08,Basic (Ads),2.990234,NaN,NaT
17,6584,Bobby Bass,bass.master.bobby@email.edu,2023-04-09,Basic (Ads),2.990234,NaN,NaT
18,6586,Lyric Saunders,yrical.saunders@email.edu,2023-04-16,Basic (Ads),2.990234,NaN,NaT
19,6588,Harmony Bass,bass.harmony@email.com,2023-04-16,Basic (Ads),2.990234,NaN,2023-06-01
20,6821,Reed Flat,flat.tunes@email.edu,2023-04-24,Basic (Ads),2.990234,NaN,NaT
21,6822,Kiki Keys,kiki.keys.piano@email.com,2023-05-01,Premium (No Ads),7.988281,Yes,NaT
24,7158,Harmony Wallace,wallace.harmony@email.com,2023-05-07,Basic (Ads),2.990234,NaN,NaT
27,7579,Jazz Drummond,drumming.jazz@email.com,2023-05-15,Basic (Ads),2.990234,NaN,NaT

In [63]:
# customer_df['Discount?'] = customer_df['Discount?'].astype('object').fillna('No',inplace=True)
# customer_df['Discount?'].head()

#### i. Missing Data

In [65]:
customer_df['Discount?'] = customer_df['Discount?'].astype('object')
customer_df['Discount?'].fillna('No' , inplace=True)
customer_df['Discount?'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
# Look for NaN values in the data

In [68]:
customer_df[customer_df.isna().any(axis = 1)]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.990234,No,NaT
1,5002,Aria Keys,elodious.aria@email.edu,2023-03-13,NaN,2.990234,No,NaT
2,5004,Lyric Bell,rhythmical.lyric@email.com,2023-03-13,NaN,2.990234,No,2023-06-01
3,5267,Rock Bassett,groovy.rock@email.com,2023-03-20,Basic (Ads),2.990234,No,NaT
4,5338,Rhythm Dixon,beats.by.rhythm@email.edu,2023-03-20,NaN,2.990234,No,NaT
5,5404,Jazz Saxton,jazzy.sax@email.com,2023-03-20,NaN,2.990234,No,2023-06-03
6,5581,Reed Sharp,sharp.tunes@email.com,2023-03-21,Premium (No Ads),9.992188,No,NaT
8,5761,Sonata Nash,usical.sonata@email.com,2023-03-28,Premium (No Ads),9.992188,No,NaT
9,5763,Jazz Coleman,coleman.jazzmaster@email.com,2023-03-28,Basic (Ads),2.990234,No,NaT
10,5826,Chord Hayes,harmonic.chord@email.com,2023-03-28,Basic (Ads),2.990234,No,NaT
11,5827,Rhythm Franklin,rhythmic.franklin@email.edu,2023-03-28,NaN,2.990234,No,NaT
14,6163,Melody Parks,park.of.melodies@email.com,2023-04-05,Premium (No Ads),9.992188,No,NaT
16,6406,Beatrice Sharp,beats.by.beatrice@email.com,2023-04-08,Basic (Ads),2.990234,No,NaT
17,6584,Bobby Bass,bass.master.bobby@email.edu,2023-04-09,Basic (Ads),2.990234,No,NaT
18,6586,Lyric Saunders,yrical.saunders@email.edu,2023-04-16,Basic (Ads),2.990234,No,NaT
20,6821,Reed Flat,flat.tunes@email.edu,2023-04-24,Basic (Ads),2.990234,No,NaT
21,6822,Kiki Keys,kiki.keys.piano@email.com,2023-05-01,Premium (No Ads),7.988281,Yes,NaT
24,7158,Harmony Wallace,wallace.harmony@email.com,2023-05-07,Basic (Ads),2.990234,No,NaT
27,7579,Jazz Drummond,drumming.jazz@email.com,2023-05-15,Basic (Ads),2.990234,No,NaT

In [91]:
customer_df[['Subscription Plan' , 'Subscription Rate']].drop_duplicates()

   Subscription Plan  Subscription Rate
0             Basic            2.990234
1              Basic           2.990234
6           Premium            9.992188
15          Premium          100.000000
21          Premium            7.988281

In [95]:
customer_df['Subscription Plan'].fillna('Basic', inplace=True)
customer_df[customer_df.isnull().any(axis = 1)]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,harmonious.vibes@email.com,2023-03-13,Basic,2.990234,No,NaT
1,5002,Aria Keys,elodious.aria@email.edu,2023-03-13,Basic,2.990234,No,NaT
3,5267,Rock Bassett,groovy.rock@email.com,2023-03-20,Basic,2.990234,No,NaT
4,5338,Rhythm Dixon,beats.by.rhythm@email.edu,2023-03-20,Basic,2.990234,No,NaT
6,5581,Reed Sharp,sharp.tunes@email.com,2023-03-21,Premium,9.992188,No,NaT
8,5761,Sonata Nash,usical.sonata@email.com,2023-03-28,Premium,9.992188,No,NaT
9,5763,Jazz Coleman,coleman.jazzmaster@email.com,2023-03-28,Basic,2.990234,No,NaT
10,5826,Chord Hayes,harmonic.chord@email.com,2023-03-28,Basic,2.990234,No,NaT
11,5827,Rhythm Franklin,rhythmic.franklin@email.edu,2023-03-28,Basic,2.990234,No,NaT
14,6163,Melody Parks,park.of.melodies@email.com,2023-04-05,Premium,9.992188,No,NaT
16,6406,Beatrice Sharp,beats.by.beatrice@email.com,2023-04-08,Basic,2.990234,No,NaT
17,6584,Bobby Bass,bass.master.bobby@email.edu,2023-04-09,Basic,2.990234,No,NaT
18,6586,Lyric Saunders,yrical.saunders@email.edu,2023-04-16,Basic,2.990234,No,NaT
20,6821,Reed Flat,flat.tunes@email.edu,2023-04-24,Basic,2.990234,No,NaT
21,6822,Kiki Keys,kiki.keys.piano@email.com,2023-05-01,Premium,7.988281,Yes,NaT
24,7158,Harmony Wallace,wallace.harmony@email.com,2023-05-07,Basic,2.990234,No,NaT
27,7579,Jazz Drummond,drumming.jazz@email.com,2023-05-15,Basic,2.990234,No,NaT

In [126]:
filtered_df = customer_df[customer_df['Cancellation Date'].isna()]
filtered_df[['Cancellation Date', 'Discount?', 'Subscription Plan', 'Member Since']]

   Cancellation Date Discount? Subscription Plan Member Since
0                NaT        No             Basic   2023-03-13
1                NaT        No             Basic   2023-03-13
3                NaT        No             Basic   2023-03-20
4                NaT        No             Basic   2023-03-20
6                NaT        No           Premium   2023-03-21
8                NaT        No           Premium   2023-03-28
9                NaT        No             Basic   2023-03-28
10               NaT        No             Basic   2023-03-28
11               NaT        No             Basic   2023-03-28
14               NaT        No           Premium   2023-04-05
16               NaT        No             Basic   2023-04-08
17               NaT        No             Basic   2023-04-09
18               NaT        No             Basic   2023-04-16
20               NaT        No             Basic   2023-04-24
21               NaT       Yes           Premium   2023-05-01
24               NaT        No             Basic   2023-05-07
27               NaT        No             Basic   2023-05-15

In [114]:
customer_df['Cancellation Date'].unique()

<DatetimeArray>
['NaT', '2023-06-01 00:00:00', '2023-06-03 00:00:00', '2023-06-02 00:00:00']
Length: 4, dtype: datetime64[ns]

#### ii. Inconsistent Text & Typos

In [118]:
# Look for inconsistent text & typos
customer_df['Subscription Plan'] = customer_df['Subscription Plan'].str.replace('(Ads)' , '').str.replace('(No Ads)', '')
customer_df['Subscription Plan'] = customer_df['Subscription Plan'].str.strip(' ')
customer_df['Subscription Plan'].value_counts(dropna=False)

Subscription Plan
Basic      17
Premium    13
Name: count, dtype: int64

In [90]:
customer_df['Subscription Plan'].fillna('Basic', inplace= True)
customer_df.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,harmonious.vibes@email.com,2023-03-13,Basic,2.990234,No,NaT
1,5002,Aria Keys,elodious.aria@email.edu,2023-03-13,Basic,2.990234,No,NaT
2,5004,Lyric Bell,rhythmical.lyric@email.com,2023-03-13,Basic,2.990234,No,2023-06-01
3,5267,Rock Bassett,groovy.rock@email.com,2023-03-20,Basic,2.990234,No,NaT
4,5338,Rhythm Dixon,beats.by.rhythm@email.edu,2023-03-20,Basic,2.990234,No,NaT

#### iii. Duplicate Rows

In [92]:
# Look for duplicate rows

#### iv. Outliers

In [ ]:
# Look for outliers

### c. Create New Columns

Create two new columns that will be useful for EDA and modeling:
* Cancelled: whether a customer cancelled or not
* Email: Remove the "Email:" from the email addresses

In [ ]:
# Create a 'Cancelled' column

In [ ]:
# Create an updated 'Email' column without the Email: portion

## 4. EDA

Try to better understand the customers who cancelled:
* How long were they members before they cancelled?
* What percentage of customers who cancelled had a discount vs customers who didn't cancel?

In [ ]:
# How long were customers members before they cancelled?

In [ ]:
# Cancellation rate for those who had a discount

In [ ]:
# Cancellation rate for those who did not have a discount

In [ ]:
# Visualize the cancellation rate for those with a discount vs those without a discount

Better understand the customers' listening histories:
* Join together the listening history and audio tables
* How many listening sessions did each customer have in the past 3 months?
* What were the most popular genres that customers listened to?

In [ ]:
# Split the ID in the audio data so the column can be joined with other tables

In [ ]:
# Hint: Check the data type of Audio ID in the audio table

In [ ]:
# The number of listening sessions that each customer had in the past 3 months

In [ ]:
# The most popular genres that customers listened to

## 5. Prep for Modeling

Create a DataFrame that is ready for modeling with each row representing a customer and the following numeric, non-null columns:
* Customer ID
* Whether a customer cancelled or not
* Whether a customer received a discount or not
* The number of listening sessions
* Percent of listening history consisting of Pop
* Percent of listening history consisting of Podcasts

In [ ]:
# Create a dataframe ready for modeling

In [ ]:
# Calculate the number of listening sessions for each customer

In [ ]:
# Percent pop

In [ ]:
# Percent podcasts

Visualize the relationships in the modeling DataFrame using a pair plot:
* What are some of your observations?
* What variables might do a good job predicting customer cancellation?